@use 'helpers' as *;

:root {
  --color-bg-dark: #030303;
  --color-dark: #000;

  --color-light: #fff;

  --color-accent: #710707;

  --color-gold: #9d8665;
  --color-gold-dark: #7E6C51;

  --color-gray: #999999;
  --color-dark-gray: #333333;

  --color-line: #c4c4c4;

  --font-family-base: 'Roboto', sans-serif;
  --font-second-family: 'Forum', sans-serif;

  --container-width: #{rem(1440)};
  --container-padding-x: #{rem(20)};

  --transitionduration: 0.5s;

  @include laptop {
    --container-width: #{rem(984)};
  }
}