@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-bg-dark: #030303;
  --color-dark: #000;
  --color-light: #fff;
  --color-accent: #710707;
  --color-gold: #9d8665;
  --color-gold-dark: #7E6C51;
  --font-family-base: "Roboto", sans-serif;
  --font-second-family: "Forum", sans-serif;
  --container-width: 90rem;
  --container-padding-x: 1.25rem;
  --transitionduration: 0.5s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 61.5rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(1rem, 0.79rem + 0.8vw, 1.75rem);
  font-family: var(--font-family-base);
  color: var(--color-light);
  background-color: var(--color-bg-dark);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h6,
.h5,
h6,
.h6 {
  font-family: var(--font-second-family);
  color: var(--color-gold);
  font-weight: 400;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: clamp(1.75rem, 0.84rem + 3.4666666667vw, 5rem);
}

h2,
.h2 {
  font-size: clamp(1.75rem, 0.84rem + 3.4666666667vw, 5rem);
}

h3,
.h3 {
  font-size: clamp(1.125rem, 0.88rem + 0.9333333333vw, 2rem);
}

h4,
.h4 {
  font-size: clamp(1rem, 0.79rem + 0.8vw, 1.75rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
}
a[class] {
  text-decoration: none;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-gold);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-gold);
  }
}
a:active {
  color: var(--color-gold-dark);
}

.header {
  padding-block: 3.625rem;
  background-color: var(--color-dark);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width > 63.99875rem) {
  .header__overlay {
    display: contents;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.4375rem;
  font-size: 1.375rem;
  font-weight: 100;
  letter-spacing: 0.125rem;
}
.header__link {
  transition-duration: var(--transitionduration);
}
@media (any-hover: hover) {
  .header__link:hover {
    color: var(--color-gold);
  }
}
@media (any-hover: none) {
  .header__link:active {
    color: var(--color-gold);
  }
}

@keyframes show {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 1.25rem;
}

.slider-images {
  position: relative;
  width: 62.5rem;
  height: 46.875rem;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.slider-img.block {
  display: block;
  animation: show 5s 1;
  margin: 0 auto;
}

.slider-controls {
  position: absolute;
  right: 0;
  bottom: -3.75rem;
  display: flex;
  justify-content: center;
  background-color: var(--color-dark);
  width: 37.5rem;
  height: 7.5rem;
}
.slider-controls__count {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  line-height: 1.82;
  margin-right: 3.4375rem;
}
.slider-controls__dots {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  margin-right: 3.75rem;
}
.slider-controls__dot {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-light);
  cursor: pointer;
}
.slider-controls__dot.active {
  background-color: var(--color-gold);
}
.slider-controls__arrows {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.slider-controls__arrow {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.slider-controls__arrow path {
  transition-duration: var(--transitionduration);
}
@media (any-hover: hover) {
  .slider-controls__arrow:hover path {
    fill: var(--color-gold);
  }
}
@media (any-hover: none) {
  .slider-controls__arrow:active path {
    fill: var(--color-gold);
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: clamp(18.75rem, 17.7rem + 4vw, 22.5rem);
  max-height: clamp(3.75rem, 3.4875rem + 1vw, 4.6875rem);
  padding: 1.5rem 4rem;
  border-radius: 0.625rem;
  background-color: var(--color-accent);
  font-size: clamp(1.25rem, 1.215rem + 0.1333333333vw, 1.375rem);
  font-weight: 300;
  letter-spacing: 0.125rem;
}
.button:hover {
  background-color: var(--color-gold);
  color: var(--color-light);
  transition: background-color var(--transitionduration), color var(--transitionduration);
}

.logo {
  max-width: clamp(8.1875rem, 6.9975rem + 4.5333333333vw, 12.4375rem);
}

.welcome {
  position: relative;
  overflow: hidden;
  background-color: var(--color-dark);
}
.welcome__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.welcome__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5625rem;
  max-width: 37.5rem;
  z-index: 1;
  padding-bottom: 15rem;
  padding-top: 9.375rem;
  background-color: var(--color-dark);
  background: linear-gradient(to right, var(--color-dark) 77%, rgba(0, 0, 0, 0));
}
.welcome__title {
  line-height: 1.12;
  letter-spacing: 0.3125rem;
  color: var(--color-light);
}
.welcome__descr {
  font-size: fluid-text(28, 16);
  letter-spacing: 0.125rem;
  font-weight: 300;
  margin-bottom: 4.6875rem;
}

.visiting {
  background-color: var(--color-light);
  padding-bottom: 4.6875rem;
}
.visiting__title {
  border-bottom: 3px solid var(--color-accent);
  margin-bottom: 4.6875rem;
  padding-top: 4.6875rem;
  line-height: 1.12;
  letter-spacing: 0.3125rem;
}
.visiting__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 4.6875rem;
}
.visiting__card-link {
  display: flex;
  flex-direction: column;
}
.visiting__card-img {
  margin-bottom: 1.5625rem;
}
.visiting__card-title {
  position: relative;
  color: var(--color-dark);
  letter-spacing: 0.3125rem;
  padding-bottom: 0.625rem;
  margin-bottom: 0.625rem;
}
.visiting__card-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 18.75rem;
  height: 0.125rem;
  background-color: var(--color-accent);
  transition-duration: var(--transitionduration);
}
.visiting__card-virtual, .visiting__card-descr {
  color: var(--color-dark);
  line-height: 1.5;
  font-weight: 200;
}
.visiting__card-virtual {
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  margin-bottom: 0.625rem;
}
.visiting__card-descr {
  font-size: clamp(1rem, 0.965rem + 0.1333333333vw, 1.125rem);
}
.visiting__card:hover .visiting__card-title::after {
  width: 100%;
}

.explore {
  padding-block: 4.6875rem;
  background-color: var(--color-dark);
}
.explore__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3.75rem;
}
.explore__content {
  max-width: 41.25rem;
}
.explore__title {
  color: var(--color-light);
  line-height: 1.12;
  letter-spacing: 0.3125rem;
  padding-bottom: 1.5625rem;
  border-bottom: 0.1875rem solid var(--color-accent);
  margin-bottom: 4.6875rem;
}
.explore__descr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.5625rem;
}
.explore__descr p {
  font-weight: 300;
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
}
.explore__descr span {
  color: #CAAA7D;
}

.comp-slider__container {
  position: relative;
  display: grid;
  place-content: center;
  overflow: hidden;
  --position: 50%;
}
.comp-slider__image-container {
  max-width: 45rem;
  max-height: 43.75rem;
}
.comp-slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comp-slider__image--before {
  position: absolute;
  inset: 0;
  width: var(--position);
}
.comp-slider__range {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: ew-resize;
}
.comp-slider__button {
  position: absolute;
  inset: 0;
  z-index: 10;
  left: calc(var(--position) - 1.25rem);
  pointer-events: none;
}

.gallery {
  background-color: var(--color-dark);
  padding-top: 4.6875rem;
}
.gallery__title {
  color: var(--color-light);
  margin-bottom: 4.6875rem;
}
.gallery__content {
  height: 122.5rem;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.25rem;
}
.gallery__content-col {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.gallery__content-col.indent {
  padding-top: 3.125rem;
}
.gallery__content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-dark) 100%);
}
.gallery__img {
  width: 100%;
  display: block;
}

.tickets {
  background-color: var(--color-light);
  padding-block: 4.6875rem;
}
.tickets__title {
  padding-bottom: 1.5625rem;
  border-bottom: 0.1875rem solid var(--color-accent);
  margin-bottom: 4.6875rem;
  letter-spacing: 0.3125rem;
  line-height: 1.12;
}
.tickets__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.75rem;
}
.tickets__img {
  width: 45rem;
  height: 34.375rem;
}
.tickets__form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.tickets__form-title {
  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: clamp(1rem, 0.79rem + 0.8vw, 1.75rem);
  text-transform: none;
  color: var(--color-dark);
  line-height: 0.95;
}
.tickets__type {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.tickets__type-form--row {
  display: flex;
  align-items: center;
  gap: 1.4375rem;
}
.tickets__type-form--label {
  color: var(--color-dark);
  font-weight: 300;
  font-size: 1.375rem;
}
.tickets__amount {
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: end;
}
.tickets__amount-title {
  margin-bottom: 1.5625rem;
}
.tickets__amount-counter {
  margin-bottom: 3.125rem;
}
.tickets__amount-counter--basic, .tickets__amount-counter--senior {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.tickets__amount-counter--senior {
  margin-bottom: 0.625rem;
}
.tickets__amount-counter--descr {
  font-weight: 300;
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
}
.tickets__amount-counter--count {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 9.375rem;
  border: 0.1875rem solid var(--color-dark);
  padding: 0.75rem 0.875rem;
  height: 3.125rem;
}
.tickets__amount-counter--count .decrement, .tickets__amount-counter--count .increment {
  font-size: 2rem;
  align-self: center;
}
.tickets__amount-counter--count .count {
  font-size: 1.375rem;
  font-weight: 300;
  align-self: center;
}
.tickets__amount-price {
  margin-bottom: 3.75rem;
  font-weight: 700;
  font-size: clamp(1rem, 0.79rem + 0.8vw, 1.75rem);
}
.tickets__amount-btn {
  height: 3.125rem;
  width: 10.9375rem;
  padding: 0;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: 1.375rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  border: none;
  transition-duration: var(--transitionduration);
}
@media (any-hover: hover) {
  .tickets__amount-btn:hover {
    color: var(--color-dark);
    background-color: var(--color-gold);
  }
}
@media (any-hover: none) {
  .tickets__amount-btn:active {
    color: var(--color-dark);
    background-color: var(--color-gold);
  }
}

.custome-radio-hidden {
  display: none;
}

.custome-radio {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.custome-radio::before {
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-dark);
  opacity: 0;
  transition: opacity 0.2s ease;
}
~ input:checked + .custome-radio::before {
  opacity: 1;
}

.tickets__type-form--row {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}
.tickets__type-form--row .tickets__type-form--label {
  margin-left: 0.625rem;
  cursor: pointer;
}

.custome-radio.checked::before {
  opacity: 1;
}

.paralax-container {
  position: relative;
  height: 25rem;
  overflow: hidden;
}
.paralax-img {
  background-image: url(../assets/img/parallax.jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  z-index: -100;
}

.contacts {
  background-color: var(--color-light);
  padding-top: 4.6875rem;
}
.contacts__title {
  line-height: 1.12;
  letter-spacing: 0.3125rem;
  padding-bottom: 1.5625rem;
  border-bottom: 0.1875rem solid var(--color-accent);
  margin-bottom: 4.6875rem;
}
.contacts__body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 4.6875rem;
}
.contacts__content {
  width: 100%;
  max-width: 17.625rem;
}
.contacts__content-title {
  max-width: 14.1875rem;
  font-family: var(--font-family-base);
  text-transform: unset;
  font-size: clamp(1rem, 0.79rem + 0.8vw, 1.75rem);
  font-weight: 500;
  color: var(--color-dark);
  margin-bottom: 3.125rem;
}
.contacts__address {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.contacts__address-item {
  font-family: var(--font-family-base);
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  color: var(--color-dark);
  font-weight: 300;
}
.contacts__address-item a {
  font-family: var(--font-family-base);
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  color: var(--color-dark);
  font-weight: 300;
  transition-duration: var(--transitionduration);
}
.contacts__address-item a:hover {
  color: var(--color-gold);
}

.footer {
  padding-top: 4.6875rem;
  background-color: var(--color-dark);
}
.footer__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 9.0625rem;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9.375rem;
  row-gap: 1.5625rem;
}
.footer__item {
  font-weight: 100;
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  letter-spacing: 0.125rem;
}
.footer__link {
  transition-duration: var(--transitionduration);
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--color-gold);
  }
}
@media (any-hover: none) {
  .footer__link:active {
    color: var(--color-gold);
  }
}
.footer__separator {
  position: relative;
  height: 6.25rem;
  width: 0.0625rem;
  margin-bottom: 3.125rem;
}
.footer__social {
  align-self: flex-end;
}
.footer__social-list {
  display: flex;
  column-gap: 1.5625rem;
  padding-top: 4.6875rem;
}
.footer__social-link {
  width: 3rem;
  height: 3rem;
  border: 0.0625rem solid #666666;
  border-radius: 3.125rem;
  padding: 12px;
}
.footer__separator {
  width: 100%;
  height: 0.1875rem;
  background-color: #666666;
}
.footer__copyrights {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.125rem;
}
.footer__copyrights-link {
  transition-duration: var(--transitionduration);
}
@media (any-hover: hover) {
  .footer__copyrights-link:hover {
    color: var(--color-gold);
  }
}
@media (any-hover: none) {
  .footer__copyrights-link:active {
    color: var(--color-gold);
  }
}
.footer__copyrights p {
  font-weight: 100;
  font-size: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  letter-spacing: 0.125rem;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
