@use '../helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: fluid(360, 300);
  max-height: fluid(75, 60);
  padding: rem(24) rem(64);
  border-radius: rem(10);
  background-color: var(--color-accent);
  font-size: fluid(22, 20);
  font-weight: 300;
  letter-spacing: rem(2);

  &:hover {
    background-color: var(--color-gold);
    color: var(--color-light);
    transition: background-color var(--transitionduration), color var(--transitionduration);
  }
}