@use '../helpers' as *;

.contacts {
  background-color: var(--color-light);
  padding-top: rem(75);


  &__title {
    line-height: 1.12;
    letter-spacing: rem(5);
    padding-bottom: rem(25);
    border-bottom: rem(3) solid var(--color-accent);
    margin-bottom: rem(75);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  &__content {
    width: 100%;
    max-width: rem(282);

    &-title {
      max-width: rem(227);
      font-family: var(--font-family-base);
      text-transform: unset;
      font-size: fluid(28, 16);
      font-weight: 500;
      color: var(--color-dark);
      margin-bottom: rem(50);
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: rem(25);

    &-item {
      font-family: var(--font-family-base);
      font-size: fluid(22, 16);
      color: var(--color-dark);
      font-weight: 300;

      & a {
        font-family: var(--font-family-base);
        font-size: fluid(22, 16);
        color: var(--color-dark);
        font-weight: 300;
      }
    }
  }


}