@use '../helpers' as *;

.contacts {
  background-color: var(--color-light);
  padding-block: rem(75);

  @include tablet {
    padding-block: rem(60);
  }

  @include mobile {
    padding-block: rem(40);
  }


  &__title {
    line-height: 1.12;
    letter-spacing: rem(5);
    padding-bottom: rem(25);
    border-bottom: rem(3) solid var(--color-accent);
    margin-bottom: rem(75);

    @include tablet {
      padding-bottom: rem(20);
      margin-bottom: rem(60);
    }

    @include mobile {
      margin-bottom: rem(40);
      font-size: rem(40);
      line-height: 1.5;
    }

    @include mobile-s {
      font-size: rem(28);
      line-height: 1.43;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include mobile {
      flex-direction: column;
    }
  }

  &__content {
    width: 100%;
    max-width: rem(282);

    @include mobile {
      margin-bottom: rem(40);
    }

    &-title {
      max-width: rem(227);
      font-family: var(--font-family-base);
      text-transform: unset;
      font-size: fluid(28, 16);
      font-weight: 500;
      color: var(--color-dark);
      margin-bottom: rem(50);

      @include tablet {
        max-width: rem(185);
        font-size: rem(24);
        margin-bottom: rem(35);
      }

      @include mobile-s {
        max-width: rem(124);
        font-size: rem(16);
        margin-bottom: rem(40);
      }
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: rem(25);

    @include tablet {
      gap: rem(15);
    }

    &-item {
      font-family: var(--font-family-base);
      font-size: fluid(22, 16);
      color: var(--color-dark);
      font-weight: 300;

      & a {
        font-family: var(--font-family-base);
        font-size: fluid(22, 16);
        color: var(--color-dark);
        font-weight: 300;
        transition-duration: var(--transitionduration);

        &:hover {
          color: var(--color-gold);
        }
      }
    }
  }

  &__map img {
    @include tablet {
      width: rem(694);
      height: rem(454);
    }

    @include mobile {
      width: rem(728);
      height: rem(476);
    }

    @include mobile-s {
      width: rem(380);
      height: rem(248);
    }
  }


}