@use '../helpers' as *;


.custome-radio-hidden {
  display: none; // Скрываем нативные радио-кнопки
}

.custome-radio {
  @include square(rem(16));
  display: inline-block;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  vertical-align: middle; // Выравнивание с текстом

  &::before {
    content: '';

    @include square(rem(7));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--color-dark); // Цвет выбранной кнопки
    opacity: 0; // Скрываем по умолчанию
    transition: opacity 0.2s ease; // Плавное появление
  }

  // Связываем с выбранным input
  ~input:checked+& {
    &::before {
      opacity: 1; // Показываем внутренний круг при выборе
    }
  }
}

.tickets__type-form--row {
  display: flex;
  align-items: center;
  margin-bottom: rem(15);

  .tickets__type-form--label {
    margin-left: rem(10);
    cursor: pointer;
  }
}

.custome-radio.checked::before {
  opacity: 1; // Показываем внутренний круг при checked
}