@use '../helpers' as *;

.explore {
  padding-block: rem(75);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: rem(60);
  }

  &__content {
    max-width: rem(660);
  }

  &__title {
    color: var(--color-light);
    line-height: 1.12;
    letter-spacing: rem(5);
    padding-bottom: rem(25);
    border-bottom: rem(3) solid var(--color-accent);
    margin-bottom: rem(75);
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(25);

    & p {
      font-weight: 300;
      font-size: fluid(22, 16);
    }

    & span {
      color: #CAAA7D;
    }
  }
}