@use '../helpers' as *;

.footer {
  padding-top: rem(75);
  background-color: var(--color-dark);

  @include tablet {
    padding-top: rem(60);
  }

  @include mobile {
    padding-top: rem(40);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50);

    @include mobile {
      flex-direction: column;
      justify-content: start;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: rem(145);

    @include tablet {
      column-gap: rem(45);
    }

    @include mobile {
      gap: rem(80);
      justify-content: start;
    }

    @include mobile-s {
      flex-direction: column;
      gap: rem(40);
      margin-bottom: rem(40);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(150);
    row-gap: rem(25);

    @include tablet {
      column-gap: rem(100);
    }

    @include mobile {
      column-gap: rem(165);
    }

    @include mobile-s {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: rem(85);
    }
  }

  &__item {
    font-weight: 100;
    font-size: fluid(22, 16);
    letter-spacing: rem(2);
  }

  &__link {
    transition-duration: var(--transitionduration);

    @include hover {
      color: var(--color-gold)
    }

    @include tablet {
      font-size: rem(22);
      font-weight: 200;
      letter-spacing: rem(2);
    }

    @include mobile {
      font-size: rem(18);
    }

    @include mobile-s {
      font-size: rem(16);
    }
  }

  &__separator {
    position: relative;
    height: rem(100);
    width: rem(1);
    margin-bottom: rem(50);
  }

  &__social {
    align-self: flex-end;

    @include mobile-s {
      align-self: center;
    }

    &-list {
      display: flex;
      column-gap: rem(25);
      padding-top: rem(75);

      @include mobile {
        padding-top: rem(42);
        margin-right: rem(110);
        column-gap: rem(25);
      }

      @include mobile-s {
        margin: 0 auto;
        column-gap: rem(5);
        padding-top: 0;
      }
    }

    &-link {
      @include square(rem(48));
      border: rem(1) solid #666666;
      border-radius: rem(50);
      padding: 12px;
    }
  }

  &__separator {
    width: 100%;
    height: rem(3);
    background-color: #666666;

    @include mobile-s {
      margin-bottom: rem(40);
    }
  }

  &__copyrights {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(50);

    @include mobile-s {
      padding-bottom: rem(40);
    }

    &-link {
      transition-duration: var(--transitionduration);

      @include hover {
        color: var(--color-gold)
      }
    }

    & p {
      font-weight: 100;
      font-size: fluid(22, 16);
      letter-spacing: rem(2);
      margin: 0;

      @include tablet {
        font-size: rem(22);
      }

      @include mobile-s {
        font-size: rem(16);
      }
    }
  }
}