@use '../helpers' as *;


.header {
  padding-block: rem(58);
  background-color: var(--color-dark);

  @include tablet {
    padding-block: rem(48);
  }

  @include mobile {
    padding-block: rem(34);
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__overlay {
    @include tablet-above {
      display: contents;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(55);
    font-size: rem(22);
    font-weight: 100;
    letter-spacing: rem(2);

    @include tablet {
      display: none;
      position: absolute;
      left: 0;
      bottom: -24rem;
      padding-top: rem(35);
      padding-left: rem(55);
      z-index: 100;
      width: rem(297);
      // height: 100vh;
      background-color: var(--color-dark);
    }

    &.is-active {
      display: block;
    }
  }

  &__item {

    &:last-child {
      @include tablet {
        margin-bottom: 0;
      }
    }

    @include tablet {
      margin-bottom: rem(25);
    }
  }

  &__link {
    transition-duration: var(--transitionduration);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(8);
    justify-content: start;

    & span {
      display: none;
      align-self: center;

      @include tablet {
        display: block;
      }
    }

    @include hover {
      color: var(--color-gold);
    }


  }
}