@use '../helpers' as *;

.logo {
  width: rem(189);
  height: rem(33);

  @include tablet {
    width: rem(199);
  }

  @include mobile-s {
    width: rem(131);
    height: rem(20);
  }

  &__image {
    width: rem(189);
    height: rem(33);

    @include tablet {
      width: rem(199);
    }

    @include mobile-s {
      width: rem(131);
      height: rem(20);
    }
  }
}