@use '../helpers' as *;


.paralax {
  &-container {
    position: relative;
    height: rem(400);
    overflow: hidden;
  }

  &-img {
    background-image: url(../assets/img/parallax.jpg);
    width: 100%;
    height: rem(400);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
  }
}