@use '../helpers' as *;


.paralax {
  &-container {
    position: relative;
    height: rem(400);
    overflow: hidden;
  }

  &-img {
    background-image: url(../assets/img/parallax.jpg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
  }
}