@use '../helpers' as *;

@keyframes show {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 100%;
  }

  50% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  top: 0;
  right: rem(20);

  @include tablet {
    bottom: rem(60);
  }

  @include mobile {
    position: relative;
    right: 0;
    margin-bottom: rem(90);
  }
}

.slider-images {
  position: relative;
  width: rem(1000);
  height: rem(750);
  overflow: hidden;

  @include tablet {
    width: rem(700);
    height: rem(525);
  }

  @include mobile {
    align-self: center;
    width: rem(728);
    height: rem(546);
  }

  @include mobile-s {
    width: rem(380);
    height: rem(285);
  }
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;

  &.block {
    display: block;
    animation: show 5s 1;
    margin: 0 auto;
  }
}

.slider-controls {
  position: absolute;
  right: 0;
  bottom: rem(-90);
  display: flex;
  justify-content: center;
  background-color: var(--color-dark);
  width: rem(600);
  height: rem(120);

  @include tablet {
    width: rem(700);
  }

  @include mobile {
    width: 100%;
  }

  @include mobile-s {
    height: rem(90);
  }

  &__count {
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: fluid(22, 16);
    line-height: 1.82;
    margin-right: rem(55);

    @include tablet {
      margin-right: rem(45);
    }

    @include mobile-s {
      margin-right: rem(25);
    }
  }

  &__dots {
    display: flex;
    align-items: center;
    gap: rem(25);
    margin-right: rem(60);

    @include tablet {
      margin-right: rem(45);
    }

    @include mobile-s {
      margin-right: rem(25);
      gap: rem(10);
    }
  }

  &__dot {
    @include square(rem(16));

    background-color: var(--color-light);
    cursor: pointer;

    &.active {
      background-color: var(--color-gold);
    }

    @include tablet {
      @include square(rem(12));
    }

    @include mobile-s {
      @include square(rem(7))
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__arrow {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;

    & path {
      transition-duration: var(--transitionduration);
    }

    @include hover {
      & path {
        fill: var(--color-gold)
      }
    }
  }
}