@use '../helpers' as *;

.tickets {
  background-color: var(--color-light);
  padding-block: rem(75);

  @include tablet {
    padding-block: rem(60);
  }

  @include mobile {
    padding-block: rem(40);
  }

  &__title {
    padding-bottom: rem(25);
    border-bottom: rem(3) solid var(--color-accent);
    margin-bottom: rem(75);
    letter-spacing: rem(5);
    line-height: 1.12;

    @include tablet {
      font-size: rem(50);
      line-height: 1.5;
      padding-bottom: rem(20);
      margin-bottom: rem(60);
    }

    @include mobile {
      margin-bottom: rem(40);
      font-size: rem(40);
    }

    @include mobile-s {
      font-size: rem(28);
      line-height: 1.43;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(60);
    overflow: hidden;

    @include tablet {
      gap: rem(80);
      height: rem(460);
    }

    @include mobile {
      gap: rem(60);
      height: rem(439);
    }

    @include mobile-s {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(40);
      height: auto;
    }
  }

  &__img {
    width: rem(720);

    @include tablet {
      width: rem(700);
    }

    @include mobile {
      width: rem(444);
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: start;

    &-title {
      font-family: var(--font-family-base);
      font-weight: 700;
      font-size: fluid(28, 16);
      text-transform: none;
      color: var(--color-dark);
      line-height: 0.95;

      @include tablet {
        font-size: rem(28);
        line-height: 1;
      }
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    gap: rem(50);

    @include tablet {
      display: none;
    }

    &-form {
      &--row {
        display: flex;
        align-items: center;
        gap: rem(23);
      }

      &--label {
        color: var(--color-dark);
        font-weight: 300;
        font-size: rem(22);
      }
    }
  }

  &__amount {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: end;

    @include tablet {
      align-items: start;
    }

    @include mobile-s {
      align-items: center;
    }

    &-title {
      margin-bottom: rem(25);

      @include mobile {
        margin-bottom: rem(39);
      }

      @include mobile-s {
        font-size: rem(16);
        margin-bottom: rem(20);
      }
    }

    &-counter {
      margin-bottom: rem(50);
      display: flex;
      flex-direction: column;
      gap: rem(10);

      @include tablet {
        margin-bottom: rem(25);
        gap: rem(25);
      }

      @include mobile {
        margin-bottom: rem(29);
      }

      @include mobile-s {
        margin-bottom: rem(40);
      }

      &--basic,
      &--senior {
        display: flex;
        flex-direction: column;
        gap: rem(15);

        @include tablet {
          gap: rem(10);
        }

        @include mobile-s {
          gap: rem(15);
        }
      }

      // &--senior {
      //   margin-bottom: rem(10);
      // }

      &--descr {
        font-weight: 300;
        font-size: fluid(22, 16);

        @include tablet {
          font-size: rem(22);
        }

        @include mobile-s {
          font-size: rem(16);
        }
      }

      &--count {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: rem(150);
        border: rem(3) solid var(--color-dark);
        padding: rem(12) rem(14);
        height: rem(50);

        @include tablet {
          width: rem(175);
        }

        & .decrement,
        & .increment {
          font-size: rem(32);
          align-self: center;
        }

        & .count {
          font-size: rem(22);
          font-weight: 300;
          align-self: center;
        }
      }
    }

    &-price {
      margin-bottom: rem(60);
      font-weight: 700;
      font-size: fluid(28, 16);

      @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: rem(28);
        letter-spacing: rem(1.65);
        margin-bottom: rem(69);
        width: rem(175);
      }

      @include mobile {
        margin-bottom: rem(39);
      }

      @include mobile-s {
        font-size: rem(16);
        margin-bottom: rem(40);
        justify-content: center;
      }
    }

    &-btn {
      height: rem(50);
      width: rem(175);
      padding: 0;
      color: var(--color-light);
      background-color: var(--color-dark);
      font-size: rem(22);
      font-weight: 300;
      letter-spacing: rem(2);
      border: none;
      transition-duration: var(--transitionduration);

      @include hover {
        color: var(--color-dark);
        background-color: var(--color-gold);
      }

      @include mobile-s {
        font-size: rem(16);
      }
    }
  }
}