@use '../helpers' as *;

.video {
  background-color: var(--color-light);
  padding-bottom: rem(75);

  @include tablet {
    padding-bottom: rem(60);
  }

  @include mobile {
    padding-bottom: rem(80);
  }

  @include mobile-s {
    padding-bottom: rem(40);
  }

  &__header {
    padding-top: rem(75);
    margin-bottom: rem(75);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding-top: rem(60);
      margin-bottom: rem(40);
    }

    @include mobile {
      padding-top: rem(40);
      margin-bottom: rem(20);
    }

    @include mobile-s {
      padding-top: rem(36);
    }
  }

  &__title {
    @include tablet {
      font-size: rem(50);
      line-height: 1.5;
      letter-spacing: rem(5);
    }

    @include mobile {
      font-size: rem(40);
    }

    @include mobile-s {
      font-size: rem(28);
      line-height: 1.43;
    }
  }

  &__descr {
    max-width: rem(720);
    color: var(--color-dark);
    font-weight: 300;
    font-size: rem(22);

    @include tablet {
      display: none;
    }
  }

  &__player {
    position: relative;
    height: rem(650);
    width: 100%;

    @include tablet {
      width: rem(984);
      height: rem(444);
    }

    @include mobile {
      width: rem(728);
      height: rem(329);
    }

    @include mobile-s {
      width: rem(380);
      height: rem(172);
    }

    &-img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;

      @include tablet {
        width: rem(984);
        height: rem(444);
      }

      @include mobile {
        width: rem(728);
        height: rem(329);
      }

      @include mobile-s {
        width: rem(380);
        height: rem(172);
      }
    }

    & button {
      all: unset;
    }

    &-icon img {
      @include abs-center;

      @include tablet {
        @include square(rem(152))
      }

      @include mobile {
        @include square(rem(80))
      }

      @include mobile-s {
        @include square(rem(50))
      }
    }
  }

  &__controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(25);
    background-color: var(--color-dark);
    margin-bottom: rem(40);

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--color-light);
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--color-light);
        cursor: pointer;
      }

      &::-ms-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--color-light); // ваш цвет
        cursor: pointer;
      }
    }

    @include tablet {
      padding-block: rem(15);
      padding-inline: rem(40);
      gap: rem(30);
    }

    @include mobile {
      padding-block: rem(12);
      padding-inline: rem(30);
      margin-bottom: rem(20);
    }

    @include mobile-s {
      padding-block: rem(16);
      padding-inline: rem(20);
      margin-bottom: rem(40);
    }

    &-play {
      & img {
        @include mobile-s {
          width: rem(14);
          height: rem(18);
        }
      }
    }

    &-duration {
      width: rem(929);
      background: linear-gradient(to right, rgb(113, 7, 7) 0.5%, rgb(196, 196, 196) 0.5%);

      & img {
        @include tablet {
          width: rem(564);
        }

        @include mobile {
          position: absolute;
          top: rem(-6);
          left: 0;
          width: rem(728);
          height: rem(13);
        }

        @include mobile-s {
          width: rem(380);
          height: rem(10);
        }
      }
    }

    &-sound {
      & img {
        @include tablet {
          width: rem(26);
          height: rem(20);
        }

        @include mobile-s {
          width: rem(18);
          height: rem(14);
        }
      }
    }

    &-scroll {
      & img {
        @include tablet {
          width: rem(143);
          height: rem(13);
        }

        @include mobile {
          width: rem(486);
        }

        @include mobile-s {
          width: rem(200);
          height: rem(10);
        }
      }
    }

    &-screen {
      & img {
        @include tablet {
          @include square(rem(26))
        }

        @include mobile-s {
          @include square(rem(18))
        }
      }
    }

    & button {
      all: unset
    }
  }

  &__slider {

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(40);

      @include mobile {
        margin-bottom: rem(20);
      }

      @include mobile-s {
        margin-bottom: rem(40);
      }

      & img {
        @include tablet {
          width: rem(300);
        }

        @include mobile {
          width: rem(354);
        }

        @include mobile-s {
          width: rem(180);
        }
      }
    }

    &-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(20);
    }

    &-dots {
      display: flex;
      justify-content: center;
      gap: rem(20);
    }

    &-dot {
      content: '';
      @include square(rem(12));

      background-color: var(--color-gray);
      border: none;
      border-radius: 50%;

      @include mobile {
        @include square(rem(10))
      }

      @include mobile-s {
        @include square(rem(8))
      }

      &.active {
        background-color: var(--color-dark-gray);
      }
    }
  }
}