@use '../helpers' as *;

.video {
  background-color: var(--color-light);
  padding-bottom: rem(75);

  @include tablet {
    padding-bottom: rem(60);
  }

  @include mobile {
    padding-bottom: rem(80);
  }

  &__header {
    padding-top: rem(75);
    margin-bottom: rem(75);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding-top: rem(60);
      margin-bottom: rem(40);
    }

    @include mobile {
      padding-top: rem(40);
      margin-bottom: rem(20);
    }
  }

  &__title {
    @include tablet {
      font-size: rem(50);
      line-height: 1.5;
      letter-spacing: rem(5);
    }
  }

  &__descr {
    max-width: rem(720);
    color: var(--color-dark);
    font-weight: 300;
    font-size: rem(22);

    @include tablet {
      display: none;
    }
  }

  &__player {
    position: relative;
    height: rem(650);
    width: 100%;

    @include tablet {
      width: rem(984);
      height: rem(444);
    }

    @include mobile {
      width: rem(728);
      height: rem(329);
    }

    &-img {
      @include tablet {
        width: rem(984);
        height: rem(444);
      }

      @include mobile {
        width: rem(728);
        height: rem(329);
      }
    }

    & button {
      all: unset;
    }

    &-icon img {
      @include abs-center;

      @include tablet {
        @include square(rem(152))
      }

      @include mobile {
        @include square(rem(80))
      }
    }
  }

  &__controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(25);
    background-color: var(--color-dark);
    margin-bottom: rem(40);

    @include tablet {
      padding-block: rem(15);
      padding-inline: rem(40);
    }

    @include mobile {
      padding-bottom: rem(12);
      padding-inline: rem(30);
      margin-bottom: rem(20);
    }

    &-duration {
      & img {
        @include tablet {
          width: rem(564);
        }

        @include mobile {
          position: absolute;
          top: rem(-6);
          left: 0;
          width: rem(728);
          height: rem(13);
        }
      }
    }

    &-sound {
      & img {
        @include tablet {
          width: rem(26);
          height: rem(20);
        }
      }
    }

    &-scroll {
      & img {
        @include tablet {
          width: rem(143);
          height: rem(13);
        }

        @include mobile {
          min-width: rem(486);
        }
      }
    }

    &-screen {
      & img {
        @include tablet {
          @include square(rem(26))
        }
      }
    }

    & button {
      all: unset
    }
  }

  &__slider {

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(40);

      @include mobile {
        margin-bottom: rem(20);
      }

      & img {
        @include tablet {
          width: rem(300);
        }

        @include mobile {
          width: rem(354);
        }
      }
    }

    &-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(20);
    }

    &-dots {
      display: flex;
      justify-content: center;
      gap: rem(20);
    }

    &-dot {
      content: '';
      @include square(rem(12));

      background-color: var(--color-gray);
      border: none;
      border-radius: 50%;

      @include mobile {
        @include square(rem(10))
      }

      &.active {
        background-color: var(--color-dark-gray);
      }
    }
  }
}