@use '../helpers' as *;

.welcome {
  position: relative;
  overflow: hidden;
  background-color: var(--color-dark);


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(25);
    max-width: rem(600);
    z-index: 1;
    padding-bottom: rem(240);
    padding-top: rem(150);
    background-color: var(--color-dark);
    background: linear-gradient(to right, var(--color-dark) 77%, rgba(0, 0, 0, 0));
  }

  &__title {
    line-height: 1.12;
    letter-spacing: rem(5);
    color: var(--color-light);
  }

  &__descr {
    font-size: fluid-text(28, 16);
    letter-spacing: rem(2);
    font-weight: 300;
    margin-bottom: rem(75);
  }
}